.game-window {
  display: flex;
  justify-content: center;
  flex-flow: column;
  width: 100%;
  margin-top: 56px;
  padding-top: 10px;
  width: 80vw;
  height: 80vh;
}

.game-widgets {
  width: 80vw;
  height: 60vh;
  background: darkgray;
  border: 1px solid black;
}
