.room-form {
  z-index: 10;
  background: lightgray;
  position: fixed;
  padding: 20px;
  display: flex;
  flex-flow: column;
  align-items: center;
  box-shadow: 1px 1px black;
  border-radius: 15px;
  border: 1px solid black;
}
